
.container {
    font-family: 'Lato',
    sans-serif;
    font-weight: 100;
    font-size: 26px;
    
}

.calcTitle {
    padding-top: 30px;
    padding-bottom: 40px;
}

.answerRow {
    font-size: 50px;
    font-weight: 100;
    background-color: rgb(54, 54, 54);
    color:white;
    padding-top: 20px;
    
}

.calculationRow {
    font-size: 30px;
    font-weight: 100;
    background-color: rgb(54, 54, 54);
    color:white;
    padding-top: 40px;
    
}

.calcButton {
    background-color: rgb(243, 243, 243);
    font-size: 32px;
    font-weight: 100;
    font-variant-numeric: tabular-nums;
    padding: 0;
}

.calcButton:hover {
    background-color: rgb(219, 219, 219);
    font-size: 32px;
    font-weight: 100;
    font-variant-numeric: tabular-nums;
}

.buttonRows {
    line-height: 2.75;
    
}

.operatorCol {
    background-color: orange;
    color: white;
}

.operatorCol:hover {
    background-color: rgb(255, 180, 41);
    color: white;
}

.emptyButton {
    background-color: rgb(243, 243, 243);
    border-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.emptyButton:hover {
    background-color: rgb(219, 219, 219);
    border-style: none;
}

.emptyButton:focus {
    background-color: rgb(219, 219, 219);
    border-style: none;
    outline: 0;
}

.emptyCalc {
    background-color: orange;
    color: white;
    border-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.emptyCalc:hover {
    background-color: rgb(255, 180, 41);
    border-style: none;
}

.emptyCalc:focus {
    background-color: rgb(255, 180, 41);
    border-style: none;
    outline: 0;
}